$spacer: 1rem;
$spacers: (
  16: (
    $spacer,
  ),
  24: (
    $spacer * 1.5,
  ),
  32: (
    $spacer * 2,
  ),
  48: (
    $spacer * 3,
  ),
  64: (
    $spacer * 4,
  ),
);

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}
@function col($key) {
  // @return map-get($theme-colors, $key);
  @return theme-color($key);
}

$theme-colors: (
  "dark": #0e1414,
  "gray": #c2c2c2,
  "gray-light": #f0f0f0,
  "white": #fff,
  "primary": #214359,
  "success": #86c0c7,
  "danger": #cf1430,
  "warning": #fff200,
);

$body-bg: theme-color("dark");
$body-color: theme-color("white");
$link-color: theme-color("white");
$border-width: 3px;

// typography
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-family-sans-serif: "Open Sans", sans-serif;

$h1-font-size: 42px;
$h2-font-size: 30px;
$h3-font-size: 26px;
$h4-font-size: 24px;
$h5-font-size: 18px;
$h6-font-size: 1rem;

$line-height-base: 1.8;
$lead-font-size: 18px;
